<div class="widget-container">
    <div class="widget green">
      <div class="icon">
        <fa-icon [icon]="faEye"></fa-icon>
      </div>
      <div class="value">
        <div class="top">32</div>
        <div class="bottom">Volume of Trading Today</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="value">
        <div class="top">4</div>
        <div class="bottom">Accounts</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">2531</div>
        <div class="bottom">Total Revenue</div>
      </div>
    </div>
  </div>