<div class="col">
  <div class="middle-section">
    <div class="widget left">
      <app-line-chart></app-line-chart>
    </div>
    <div class="widget right">
      <app-pie-chart  [pieData]="categoryCountMap" [accName]="accNow"></app-pie-chart>
    </div>
  </div>
  <h3>Transactions</h3>
  <!-- The AG Grid component -->
  <ag-grid-angular
  class="ag-theme-quartz" 
  style="height: 500px;width: 1200px;" 
  [rowData]="transactionsData" 
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef">
  </ag-grid-angular>
  
</div>

